::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (max-width: 576px) {
  .nav-container {
    width: 100% !important;
    gap: 20px;
    padding: 0 !important;
  }

  .home-container {
    padding: 2rem !important;
  }

  .weather-app-text {
    font-size: 16px !important;
  }

  .search-bar {
    width: 100%;
    font-size: 16px !important;
  }

  .main-content {
    width: 100% !important;
    padding: 20px 0 !important;
  }

  .mini-card-container {
    display: grid !important;
    grid-template-columns: 1fr !important; /* Default to single column */
    gap: 1rem !important; /* Adjust the gap between cards */
    align-items: center !important;
  }

  .mini-card-container {
    grid-template-columns: repeat(
      2,
      1fr
    ) !important; /* Two columns on small screens */
  }

  .mini-card-container > :nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
    justify-self: center;
  }
}
