/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.glass-card-mini-card,
.glass-card-weather-card {
  background: linear-gradient(
    179deg,
    rgba(217, 217, 217, 0.4) 0.71%,
    rgba(217, 217, 217, 0.1) 99.26%
  );

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  border: 1px solid rgba(225, 225, 225, 0.18);
}

@media (max-width: 576px) {
  .glass-card-weather-card {
    width: 100% !important;
    padding: 10px;
    height: 100%;
    justify-self: center;
    align-items: center;
  }

  .weather-card-icon {
    display: flex;

    .weather-card-temperature {
      font-size: 36px;
    }
  }

  .weather-card-place {
    font-size: 18px;
  }

  .weather-card-time-container {
    .weather-card-date, .weather-card-time {
      font-size: 14px;
    }
  }

  .weather-card-condition {
    font-size: 24px;
  }
}
